{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
<div class="container">
  <div class="row">
      <div class="col-md-7">
        <p></p>
      <h1>Contact Us</h1><br>
  <p>&nbsp; &nbsp; &nbsp;Email: <a href="mailto:lakshyajeetcoc@gmail.com"><u>lakshyajeetcoc@gmail.com</u></a></p>
  <p>&nbsp; &nbsp; &nbsp;Address:&nbsp;<strong>Somewhere in this World <img src="../../../../static/js/tinymce/plugins/emoticons/img/smiley-wink.gif" alt="wink" /></strong></p>
  <p>&nbsp;</p>
  <h3>Other Contact Details:</h3>
  <ul style="font-family: icomoon; font-size: 25px; color: #000000;" class="social-menu">
     <li class="list-inline-item"><a href="" onclick="alert('Coming Soon....')">&nbsp;  &#xe901;  Instagram</a></li><br>
     <li class="list-inline-item"><a href="https://twitter.com/DarkMatter_999" target="_blank" rel="noopener">&nbsp;  &#xe902;  Twitter</a></li><br>
     <li class="list-inline-item"><a href="https://discord.gg/" target="_blank" rel="noopener">&nbsp;  &#xe903;  Discord Server</a></li><br>
     <li class="list-inline-item"><a href="https://youtu.be/" target="_blank" rel="noopener">&nbsp;  &#xe900;  YouTube</a></li><br>
   </ul>
  <p>&nbsp;</p>
</div>
</div>
</div>
</div>

{% endblock %}